[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aws-lambda-powertools = {extras=["tracer", "validation"], version=">=3.7.0"}
cattrs = ">=22.1.0"

[dev-packages]
attrs = ">=25.3.0"
aws-cdk-lib = ">=2.176.0"
constructs = ">=10.4.2"
botocore = ">=1.37.0"
boto3 = ">=1.37.0"
boto3-stubs = {extras = ["essential", "secretsmanager", "ssm"], version = ">=1.37.0"}
jsii = "*"
moto = {extras = ["all"], version = ">=5.0.27"}
mypy = "*"
pre-commit = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
setuptools = ">=78.1.1"
syrupy = "*"
types-boto3 = ">=1.37.0"
types-requests = ">=2.32.4"
types-setuptools = "*"
wheel = "*"

[requires]
python_version = "3.12"
