[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"cms_common" = {path = "./../../lib", editable = true}
aws-lambda-powertools = {extras=["tracer", "validation"], version=">=3.7.0"}
numpy = "*"
opensearch-py = ">=2.5.0"
sagemaker = "==2.230.0"
requests = ">=2.32.4"
setuptools = ">=78.1.1"
tenacity = ">=8.4.0"

[dev-packages]
aws-cdk-lib = ">=2.176.0"
"aws-solutions-constructs.aws-apigateway-lambda" = "*"
botocore = ">=1.37.0"
boto3 = ">=1.37.0"
boto3-stubs = {extras = ["essential", "opensearchserverless", "bedrock-agent", "dynamodb", "sagemaker", "efs", "ec2", "lambda", "sagemaker-runtime"], version = ">=1.37.0"}
cdk-nag = ">=2.35.55"
constructs = ">=10.4.2"
mkdocs-techdocs-core = "*"
mypy = "*"
pandas = "*"
pandas-stubs = "*"
pre-commit = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
pyyaml = "*"
requests = "*"
syrupy = "*"
torch = ">=2.2.1"
types-boto3 = "*"
types-pyyaml = "*"
types-requests = "*"
types-setuptools = "*"

[requires]
python_version = "3.12"
