[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aws-lambda-powertools = {extras=["tracer", "validation"], version=">=3.7.0"}
requests = ">=2.32.4"
cms_common = {path = "./../../lib", editable = true}

[dev-packages]
aws-cdk-lib = ">=2.176.0"
botocore = ">=1.37.0"
boto3 = ">=1.37.0"
boto3-stubs = {extras = ["essential", "ssm"], version = ">=1.37.0"}
cdk-nag = ">=2.35.55"
constructs = ">=10.4.2"
freezegun = "*"
mkdocs-techdocs-core = "*"
moto = {extras = ["all"], version = ">=5.0.27"}
mypy = "*"
pre-commit = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
requests = "*"
setuptools = ">=78.1.1"
syrupy = "*"
types-boto3 = "*"
types-requests = ">=2.32.4"
types-setuptools = "*"
wheel = "*"

[requires]
python_version = "3.12"
